@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* :root {
        --color-primary: #8b5e3b;
        --color-secondary: #700f0f;
    } */

    body {
        @apply bg-gray-100 !important;
        /* // font-size: 1.6rem; */
        /* line-height: 1.5; */
        text-rendering: optimizespeed;
        overflow-y: overlay;
        font-family: "Quicksand", "Open Sans", sans-serif !important;
        color: #161823 !important;
        font-weight: 500;
    }

    p,
    ul,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0 !important;
    }

    input {
        box-shadow: none !important;
    }
}

@layer components {
    .scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 8px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: transparent;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #eee;
        border-radius: 100vh;
        border: 1px solid #eee;
    }

    /* .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #c0a0b9;
    } */
}

#__next {
    height: auto !important;
}

.ant-table-pagination {
    margin: 16px 0 !important;
}
